#firstimage{
    height:400px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
p{
    color: azure;
}
agm-map {
    height: 300px;
  }
img{
    width: 50px;
    height: 50px;
}

.display-3{
    text-align: center;
	text-shadow: rgb(15, 15, 15) 10px 0 10px;
    color: whitesmoke;
}


  .sebm-google-map-container {
    height: 300px;
  }


 .sidebar{
     background-color: wheat;
     color: white;
 }
 mat-drawer-container{
    height:100%;
 }
 .carnoplates{
     padding: 5px;
 }
 #adminphoto{
    border-radius: 50%;
     height: 100px;
     width: 100px;
 }

 table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .image-upload>input {
    display: none;
  }

  .display-3{
	text-align: center;
	text-shadow: rgb(15, 15, 15) 10px 0 10px;
    color: whitesmoke;
}

td button{
    margin-top: 5px;
    margin-bottom: 5px;
}
