#firstimage{
    height:400px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
p{
    color: azure;
}
agm-map {
    height: 300px;
  }
img{
    width: 50px;
    height: 50px;
}

.display-3{
    text-align: center;
	text-shadow: rgb(15, 15, 15) 10px 0 10px;
    color: whitesmoke;
}


  .sebm-google-map-container {
    height: 300px;
  }


 .sidebar{
     background-color: wheat;
 }
 .sidebar p{
     color: black;
 }
 mat-drawer-container{
    height:100%;
 }
 .carnoplates{
     padding: 5px;
 }
 #adminphoto{
    border-radius: 50%;
     height: 100px;
     width: 100px;
 }

 table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .image-upload>input {
    display: none;
  }

  .display-3{
	text-align: center;
	text-shadow: rgb(15, 15, 15) 10px 0 10px;
    color: whitesmoke;
}

td button{
    margin-top: 5px;
    margin-bottom: 5px;
}

#error{
    color: red;
}

.modal-body p{
    color: black;
    text-align: center;
}
.modal-body img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* card styles */
#advantage img{
    width: 95px;
    height: 95px;
}
.card{
    box-shadow: 0 0 5px rgba(20, 20, 20, .6);
}
.card:hover{
	transform: scale(1.1);
}
.card-text {
    color: black;
    display: block;
    font-style: italic;
    font-weight: bold;
}
#advantage{
    margin-top: 30px;
}