
  <nav class="navbar bg-dark">
                <div class="navbar-header">
                        <a class="navbar-brand" href="#">CARRENTAL</a>
                      </div>
        <div class="navbar right">
                <p>{{name}}</p>
        <p class="navbar-brand" (click)="open()">Login</p>
        <p class="navbar-brand" (click)="open1()">Register</p>
        </div>
        </nav>
               
              <div id="firstimage">
                      <p class="display-3">WISE PEOPLE DON'T BUY CARS</p>
                      <p class="display-3"> JUST RENT CARS!!!</p>
                      <a><button style="margin-left:400px;height:50px;width: 500px;" routerLink="/pickuppoint" class="btn btn-warning">Start Your Journey</button></a>
              </div> 
              <router-outlet></router-outlet> 
  
    
<input type="number" [(ngModel)]="lat" placeholder="enter the latitude">
<input type="number" [(ngModel)]="lng" placeholder="enter the longitude">
<button (click)="setCurrentLocation()">GET MY LOCATION</button>
    <agm-map [latitude]="lat" [longitude]="lng" >
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
              


              