<nav class="navbar bg-dark">
        <div class="navbar-header">
                <a class="navbar-brand" href="#">CARRENTAL</a>
              </div>
<div class="navbar right">
<p class="navbar-brand" (click)="open()">Login</p>
<p class="navbar-brand" (click)="open1()">Register</p>
</div>
</nav>
       
      <div id="firstimage">
              <p class="display-3">{{name}}</p>
              <p class="display-3"> JUST RENT CARS!!!</p>
              <a><button style="margin-left:400px;height:50px;width: 500px;" routerLink="/pickuppoint" class="btn btn-warning">ADD CARS</button></a>
      </div> 
      <router-outlet></router-outlet> 