<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="customerform" (ngSubmit)="onSubmit()">
        <div [hidden]="status">
                <input  style="margin-left:40px;"  type="radio" formControlName="admin" value="1">
                <label >Admin</label>
                <input style="margin-left:80px;" type="radio" formControlName="admin" value="0">
                <label>Customer</label>
                <br>
            <label>First Name:</label>
            <input class="form-control form-control-lg" type="text" formControlName="username" required>
            <span *ngIf="customerform.controls.username.invalid && customerform.controls.username.dirty">
                firstName is required.
            </span> <br>
            <label>Phone Number:</label>
            <input class="form-control form-control-lg" type="text" (keyup)="check()" formControlName="phonenumber">
            <span *ngIf="customerform.controls.phonenumber.invalid">
                phoneNumber is required.
            </span><br>
            
        </div>
        <div [hidden]="!status">
                <label>New-Password:</label>
                <input class="form-control form-control-lg" type="text" formControlName="password">
                <span *ngIf="customerform.controls.password.invalid">
                    Password is required.
                </span>
            <label>Re-type-Password:</label>
            <input class="form-control form-control-lg" type="text" formControlName="repassword">
            <span *ngIf="customerform.controls.repassword.invalid">
                New Password is required.
            </span>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>