/* background image */

#firstimage{
	margin-top: 5px;
    height:600px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.row a{
display: flex;
justify-content: center;
}
.display-3{
	text-align: center;
	text-shadow: rgb(15, 15, 15) 10px 0 10px;
    color: whitesmoke;
}

/* promo cards */

.card-text{
    color:black;
}
.card-img-top{ 
    width: 200px;
    height: 200px;
}
.card-title{
    font-weight:bold;
}
#working .card-img-top{
    padding-left: 30px;
    width: 100px;
    height: 100px;
}
.card{
    box-shadow: 0 0 5px rgba(20, 20, 20, .6);
}
.card:hover{
	transform: scale(1.1);
}
.card-text {
    display: block;
    font-style: italic;
    font-weight: bold;
}
.container{
    margin-top: 40px;
    margin-bottom:40px;
}

/* navbar */
nav{
	background-color: grey; 
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.7);
}
nav a{
	color:whitesmoke;
	font-weight: bold;
}
#login{
    margin-right: 40px;
}
img{
    width:100px;
    height: 100px;
}


.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 80px;
	height: 40px;
}

.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}


#advantage img{
    width: 95px;
    height: 95px;
}

.sticky {
	background-color: grey; 
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
	position: fixed;
	z-index:1;
    top: 0;
    height: 80px;
    width: 100%;
}

#footer{
    color: white;
}

.socialmedia{
	height:50px;
	width:50px ;
	margin-top: 5px;
}

.comments p{
text-align: justify;
}

button:hover{
	transform: scale(1.5);
}