<nav class="navbar bg-dark">
  <div>
    <a class="navbar-brand" placement="bottom" ngbTooltip="CARRENTAL" href="#">CARRENTAL</a>
  </div>
  <div class="navbar right">
    <img id="home" src="assets/images/home.png" placement="bottom" ngbTooltip="HOME" routerLink="/welcome">
  </div>
</nav>
<div class="container">
  <div class="carlist">
    <div *ngFor="let c of cars">
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="fetchimage(c.image)" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{c.carname | uppercase}}</h5>
              <div>
                <p class="card-text"> PRICE</p>
                <p class="card-text"> NUMBERPLATE</p>
              </div>
              <div>
                <p class="card-text"> {{c.price}}</p>
                <p class="card-text"> {{c.numberplate}}</p>
              </div>
              <button [disabled]="c.bookstatus" class="btn btn-primary" (click)="save(c)">BOOK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carddecks">
    <div class="col">
      <div class="card border-danger text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">PICKUP DATE:</h5>
          <p class="card-text">{{details.pickupdate}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">DROP DATE:</h5>
          <p class="card-text">{{details.dropdate}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">PICKUP TIME:</h5>
          <p class="card-text">{{details.bookedtime}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">PICKUP AREA:</h5>
          <p class="card-text">{{details.area | uppercase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>