<div class="modal-header">
        <h4 class="modal-title">Hi there!</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
<form [formGroup]="customerform" (ngSubmit)="onSubmit()">
    <p>Customer Details</p>
    <label>First Name:</label>
    <input class="form-control form-control-lg" type="text" formControlName="userName" required>
    <span *ngIf="customerform.controls.userName.invalid && customerform.controls.userName.dirty">
        firstName is required.
    </span>
    <br> <br>
    <label>Phone Number:</label>
    <input class="form-control form-control-lg" type="text" formControlName="phoneNumber">
    <span *ngIf="customerform.controls.phoneNumber.invalid">
            phoneNumber is required.
    </span><br> <br>
    <label>Password:</label>
    <input class="form-control form-control-lg" type="text" formControlName="passWord">
    <span *ngIf="customerform.controls.passWord.invalid">
            Password is required.
    </span><br> <br>
    <label>Re-Type Password:</label>
    <input class="form-control form-control-lg" type="text" formControlName="repassWord">
    <span *ngIf="customerform.controls.repassWord.invalid">
            Re-Type Password is required.
    </span><br> <br>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
