<div class="modal-header">
    <h4 class="modal-title">Register Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="promocards">
        <ngb-carousel interval="1000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide>
                <div class="card">
                    <img class="card-img-top" src="assets/images/promo1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">SUPERMILERS CLUB</h5>
                        <p class="card-text">Your Zoomcar experience is much more rewarding when you become our
                            Supermilers Club Member.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card">
                    <img class="card-img-top" src="assets/images/referral.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">REFER & EARN</h5>
                        <p class="card-text">Refer or invite your friends to zoomcar and earn free rides, free Z points
                            and more.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card">
                    <img class="card-img-top" src="assets/images/gas-station.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FREE FUEL</h5>
                        <p class="card-text">The fuel is on us for your complete trip.  In case you re-fuel a zoomcar,
                            we will re-fill your pockets and that’s a promise.</p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="regform">
        <form [formGroup]="customerform" autocomplete="off" (ngSubmit)="save()" class="was-validated">
            <div class="radio-toolbar">
                <input type="radio" id="Customer" formControlName="admin" value="false">
                <label style="width:200px;" for="Customer">Customer</label>
                <input type="radio" id="admin" formControlName="admin" value="true">
                <label style="width:200px;" for="admin">admin</label>
            </div>

            <mat-form-field>
                <input matInput placeholder="First Name" type="text" formControlName="username" required class="example-right-align">
                <span matPrefix><i class="material-icons">account_circle</i></span>
                <mat-error *ngIf="customerform.controls.username.invalid && customerform.controls.username.dirty">
                    * is required.
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <input matInput placeholder="Phone Number" type="text" formControlName="phonenumber" required class="example-right-align">
                <span matPrefix><i class="material-icons">phone</i></span>
                <mat-error *ngIf="customerform.controls.phonenumber.invalid && customerform.controls.phonenumber.dirty">
                    * is required.
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ?'password':'text'" formControlName="password"
                    class="example-right-align" >
                <span matPrefix><i class="material-icons">lock</i></span>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="customerform.controls.password.invalid && customerform.controls.password.dirty">
                    * should be combination of all cases and numbers.
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <input matInput placeholder="Re-Type Password" [type]="hide ?'password':'text'" formControlName="repassword"
                    class="example-right-align" >
                <span matPrefix><i class="material-icons">lock</i></span>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="(customerform.controls.repassword.invalid && customerform.controls.repassword.dirty)">
                    * should be combination of all cases and numbers.
                </mat-error>
               
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="emailid" type="text" formControlName="email" class="example-right-align">
                <span matPrefix><i class="material-icons">mail</i></span>
                <mat-error *ngIf="customerform.controls.email.invalid && customerform.controls.email.dirty">
                    * is required.
                </mat-error>
            </mat-form-field>
            <br>
            <div class="image-upload">
                <label for="file-input">
                    <img style="height: 20px;width: 20px;" src="assets/images/camera.png" />
                </label>
                <input id="file-input" type="file" (change)="image($event)" accept="image/*" />{{photo}}
            </div>
            <p id="error">{{errormsg}}</p>
            <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!customerform.valid">Submit</button>
        </form>
    </div>
</div>